// Search
// ------
.app-search {
  .search {
    &__form {
      .form {
        &__button {
          position: absolute;
          padding: 0;
          right: 0;
          top: 50%;
          margin-right: 15px;

          border: none;
          background: none;
          transform: translateY(-50%);
        }
      }

      [data-content="tags"] {
        flex-wrap: wrap;

        .tag {
          margin-bottom: 10px;
        }
      }
    }

    &__list {
      @include columns-wrapper;
      margin-top: 25px;

      align-items: stretch;

      .recipe-card {
        margin-bottom: 50px;

        @include columns-span(4);
      }
    }

    &__notfound {
      @include columns-span(12);

      text-align: center;

      .notfound {
        &__wrapper {
          padding: 100px 0;
        }

        &__header {
          margin-bottom: 15px;
        }

        &__title {
          @include lato--bold;
          font-size: 22px;
        }

        &__text {
          margin-bottom: 20px;
          font-size: 14px;
        }
      }
    }
  }
}
