// Search
// ------
.app-search {
  .search {
    &__form {
      .form {
        &__button {
          position: absolute;
          padding: 0;
          right: 0;
          top: 50%;
          margin-right: 15px;

          border: none;
          background: none;
          transform: translateY(-50%);
        }
      }
    }

    &__list {
      @include columns-wrapper;
      margin-top: 25px;

      align-items: stretch;

      .recipe-card {
        margin-bottom: 50px;

        @include columns-span(4);
      }
    }
  }
}
