// Datalist
// --------
.datalist {
  position: relative;
  border-radius: 5px;
  background: $black;
  max-width: 16.66%;

  overflow: hidden;
  transition: ease-in-out 0.2s;

  &__wrapper {
    display: flex;
    position: relative;

    align-items: stretch;
  }

  &__expand {
    position: relative;
    padding: 25px 20px;
    width: 40px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: ease-in-out 0.2s;
    cursor: pointer;

    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 9px;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      background: url("../img/icons/caret.svg") 100%/100% no-repeat;
      transition: ease-in-out 0.2s;
    }

    &:hover {
      background-color: #ffffff2b;
    }
  }

  &__list {
    position: absolute;
    top: calc(100% - 3px);
    width: 100%;

    overflow: hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: ease-in-out 0.2s;

    ul {
      padding: 20px;
      list-style: none;

      > li {
        margin-bottom: 10px;

        transition: ease-in-out 0.2s;
        color: $white;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.hidden,
        &.tagged {
          display: none;
        }
      }
    }
  }

  input {
    position: relative;
    padding: 25px 20px;
    width: calc(100% - 20px);

    background: none;
    border: none;
    color: $white;
    @include lato--bold;
    font-size: 18px;

    z-index: 1;

    &::placeholder {
      color: $white;
    }
  }

  // States
  &.opened,
  &.expanded {
    overflow: visible;

    .datalist__expand::after {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  &.expanded {
    max-width: 66.66%;

    overflow: visible;

    input::placeholder {
      opacity: 0.5;
    }

    ul {
      @include columns-wrapper;

      > li {
        @include columns-span(4);
      }
    }

    &.empty {
      ul {
        > li {
          display: block;
        }
      }
    }
  }

  // Colors
  &[data-type="ingredients"] {
    background: $blue;

    .datalist__list {
      background: $blue;
    }
  }

  &[data-type="appliance"] {
    background: $green;

    .datalist__list {
      background: $green;
    }
  }

  &[data-type="ustensils"] {
    background: $red;

    .datalist__list {
      background: $red;
    }
  }
}
