// Layout
// ------
$gutter-width: 3%;
$grid-columns: 12;
$grid-push: 0;

@mixin columns-wrapper($gutter: $gutter-width) {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: $gutter * -1;
}

@mixin columns-span($column, $gutter: $gutter-width, $grid: $grid-columns, $push: $grid-push) {
  width: (($column - $push) / $grid) * 100% - $gutter;

  @if $push == 0 {
    margin-left: $gutter;
  } @else {
    margin-left: ($push / $grid) * 100% + $gutter;
  }
}
