// Inputs
// ------
input {
  &[type="text"] {
    padding: 23px;
    width: 100%;

    font-size: 18px;
    background: $gray;
    border: none;
    border-radius: 5px;

    &::placeholder {
      color: $black;
      opacity: 0.25;
    }
  }
}
